@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url('/fonts/Lausanne-300.ttf');
}
@font-face {
    font-family: font2;
    src: url('/fonts/Lausanne-500.ttf');
}
.moveX {
  animation-name: moveAnimation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.movelink{
    opacity: 0;
}

.link:hover .movelink{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}